name: Upload to Azure CDN
on:
  push:
    branches:
      - master
permissions:
  id-token: write
  contents: read
jobs:
  upload:
    name: Upload to Azure CDN
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Preprocess contents
        run: python3 shtml.py
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      - name: Upload contents
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az storage blob delete-batch --account-name histotikprodsa --source '$web' --pattern '*'
            az storage blob upload-batch --account-name histotikprodsa --destination '$web' --source build/
      - name: Purge CDN cache
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az cdn endpoint purge --resource-group histotik-prod-rg --profile-name histotik-prod-cdn --name histotik-prod --content-paths '/*'
